@import url('https://fonts.cdnfonts.com/css/deluxefont');
@import url('https://fonts.cdnfonts.com/css/junegull');

*{
    box-sizing: border-box;
}
html,
body {
    margin: 0, 0;
    padding: 0, 0;
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}


.top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.pages{
    width: 100%;
    display: flex;
}
.carrinho_page{
    height: 100vh;
    display: flex;
    width: 40%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;

}
.carrinho{
    width: 100%;
    justify-content: center;
    align-content: flex-start;
    height: 90vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 44, 28);
    /* border: 4px darkgoldenrod solid; */
    gap: 10px;
    overflow-y: auto; 
}
.carrinho_top_inf{
    font-size: 18px;
    display: flex;
    height: 25%;
    border: 4px rgb(255, 255, 255) solid;
    justify-content: space-between;
    color: aliceblue;
    text-shadow: 0 0 6px #949494;
    font-family: 'DeluxeFont', sans-serif;
    flex-direction: row;
    justify-content: center;

}

.carrinho .cartao {
    flex-grow: 1;
}

.produtos .cartao {
    flex-grow: 1;
}
.produtos{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    background-color: rgb(69, 46, 9, 0.7);
    border: 4px rgb(0, 0, 0) solid;
    border-top: 0px;
    height: 100vh;
    overflow-x: auto; 
}



.card{
    
    display: flex;
    width: 150px;
    border-radius: 20px;
    
    
}
.cartao{
    border-radius: 100px;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    }
.cartao img{
    height: 80px;
    width: 80px;
}
.cartao_top_produos{
    /* border-radius: 19px 19px 0px 0px; */
    font-size: 18px;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 136, 0);
}
.cartao_top{
    border-radius: 19px 19px 0px 0px;
    font-size: 18px;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 136, 0);
}
.cartao_valor{
    color: antiquewhite;
    justify-content: center;
    display: flex;
    background-color: rgb(0, 100, 67);
}
.cartao_estoque{
    color: antiquewhite;
    justify-content: center;
    display: flex;
    background-color: rgb(0, 100, 67);
}
.cartao_main{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.cartao_botao{
    border-radius:  0px 0px 19px 19px;
    justify-content: center;
    display: flex;
    background-color: rgb(77, 22, 0);
}

.cadastrouser{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(95, 53, 1);
    color: antiquewhite;
    height: 260px;
    /* border: 1px black solid; */
    justify-content: space-around;
  }

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 53, 1);
    color: antiquewhite;
    height: 230px;
    /* border: 1px black solid; */
    justify-content: space-around;
  }

  .cadastro input, .cadastrouser input{
    display: flex;
    padding: 10px;
    border-radius:5px;
  }

  .btncad{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bnts_carrinho{
    display: flex;
    flex-direction: column;
}

.cadbnt_Card{
    height: 30px;
    background-color: #a9a9a9;
    font-size: 20px;
    color: rgb(0, 0, 0);


}
  .cadbnt{
    height: 30px;
    background-color: #a9a9a9;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  
  .cadbnt:hover{
    color: #a9a9a9;
    background-color: rgb(0, 0, 0);
  }
.inputscaduser{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs{
    display: flex;

  }

  .Banner{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


  .topo {
    display: flex;
    flex-direction: row;
    /* border: 3px black solid; */
    background-color: rgb(39, 27, 0);
    height: 100px;
}

.title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1 {
    color: antiquewhite;
}




.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
    
}


.login a {
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: bisque;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 1px black solid;

}

.login a:hover{
    background-color: #006614;
    color: antiquewhite;

}


.pesquisa{
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: rgb(69, 46, 9, 0.7);
    align-items: center;
    justify-content: center;
    border: 4px black solid;
    border-bottom: 0px;
}

.pesquisa input{
    width: 20rem;
    padding: 5px;
    border-radius:5px;
  }

  .meio{
    display: flex;
  }


  .meio_title {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    
    border-top: 4px black solid;
}
.meio_title h1 {
    color: rgb(39, 27, 0);
}

.remover{
    border-radius: 19px 19px 0px 0px;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 136, 0);
    cursor: pointer;
}

.remover:hover
{
    background-color: rgb(80, 43, 1);
}




.Exclusao{
    height: 150px;
overflow-y: auto;


}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }